/* boooking ajax message after reservation */
.submiting_content {
    border: 1px solid #5C5;
    font-size: 15px;
    font-weight: bold;
    height: 45px;
    margin: 15px auto;
    padding: 15px 10px;
    text-align: center;
    width: 100%;
}
.submiting_content.wpdev-help-message.alert {
    color:#093;
}
.booking_form_div {
    margin-left: auto;
    margin-right: auto;
}
.booking_form {
    text-align: left;
}
.booking_form .control-group {
    margin:15px 0px;
}
.booking_form .wpdev-checkbox .wpdev-list-item,
.booking_form .wpdev-radio .wpdev-list-item{
    padding:0 5px;
}
.booking_form label.wpdev-list-item-label,
.booking_form label.wpdev-list-item-label:hover {
     display: inline;
     cursor: pointer;
     vertical-align: middle;
}
.booking_form .wpdev-radio .wpdev-list-item input[type="radio"] {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
/* General styles for inputs textarea and buttons*/
.booking_form_div textarea,
.booking_form_div input,
.booking_form_div select {
    border-color: #DFDFDF;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin: 1px;
    padding: 3px;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    height:1.5em !important;
    font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
    font-size: 13px;    
}
.booking_form_div select[multiple]{
    height:auto !important;
}
.booking_form_div textarea {
    line-height: 1.4em;
    height:auto !important;
}
.booking_form_div .button,
.booking_form_div .submit,
.booking_form_div .button-secondary {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #F2F2F2;
}
.booking_form_div .submit,
.booking_form_div .button,
.booking_form_div .button-primary,
.booking_form_div .button-secondary,
.booking_form_div .button-highlighted,
.booking_form_div #postcustomstuff .submit input {
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-box-sizing: content-box;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 11px !important;
    line-height: 16px;
    padding: 2px 8px;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 0px;
    float: right;
}
.booking_form textarea,
.booking_form input{
    width:250px;
}
.wpdevbk select[multiple], 
.wpdevbk select[size]{
    height:auto !important;
}
.booking_form input[type="button"],
.booking_form input[type="submit"],
.booking_form input[type="checkbox"] {
    width:auto;
    vertical-align: middle;
}
.booking_form input[type="checkbox"] {
    vertical-align: sub;
}
/* Fix Overwrite issue by theme */
.wpdevbk input.btn-primary:hover {
    background: #0044CC !important;
}
/* Booked Times Title in tooltip */
.wpbc_booked_times_word {
    font-weight: bold;
}
/* Time inputs at the form */
input.wpdev-validates-as-time {
    width: 50px;
}

.wpdevbk .booking_form .help-block {
    margin-bottom: 0;
    margin-top: 0;
}
.booking_form_div input[type="button"]:hover,
.wpbc-payment-form input[type="button"]:hover {
    cursor: pointer !important;
}

/* Garbage */
.booking_form_garbage {
    display:none;
}

/* Submit thank you message */
.form_bk_messages {
    display: none;
    float: left;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #9DA;
    padding: 3px 10px;
    margin: 2px 5px;
    background: #FEF9ED;
    color: #555;
    margin: 15px auto;
    padding: 5px 10px;
    text-align: center;
    width: 100%;
    clear: both;
}

/*Captcha styles*/
img.captcha_img {
    vertical-align: middle;
    box-shadow: none;
}
.captachinput {
    width: 120px;
}

/* Search form */
.booking_search_form {
    margin: 15px 0px;
    padding: 10px;
    border: 1px solid #FFF141;
    text-shadow: 0 1px 0 #FFF;
    -border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-box-shadow: 0 0 2px #FEF691;
    -webkit-box-shadow: 0 0 2px #FEF691;
    -box-shadow: 0 0 2px #FEF691;
}
.booking_search_form label {
    font-weight: bold;
    font-size: 13px;
    color: #555 !important;
}
.booking_search_form h3 {
    font-size: 18px;
    line-height: 28px !important;
    font-weight: bold;
    font-family: Arial;
    margin: 0 !important;
    color: #555 !important;
}
.booking_search_form input.search_booking {
    float: right;
    margin-top: 15px;
    -box-shadow: 0 0 1px #DDD;
    -webkit-box-shadow: 0 0 1px #DDD;
    -moz-box-shadow: 0 0 1px #DDD;
    background: none repeat scroll 0 0 #F5F5F5 !important;
    color: #717171 !important;
    font-family: Helvetica;
    font-size: 15px !important;
    font-weight: bold !important;
    text-shadow: 0 0 1px #FFF;
}
.booking_search_form input.search_booking:hover {
    background: none repeat scroll 0 0 #EEE !important;
}
.booking_search_form input.hasDatepick {
    border: 1px solid #BBB8B8;
    color: #555;
    font-size: 0.8em !important;
    font-weight: bold;
    margin-right: 20px;
}

.widget_wpdev_booking {
    width:100%;
    float:left;
    margin:5px 0px;
}

/*Search results*/
#booking_search_ajax {
    margin-bottom: 20px;
}
.booking_search_result_item {
    clear: both;
    margin: 10px 0px;
    padding: 5px 5px 20px;
    border-bottom: 1px solid #E5E5E5;
    font-size: 0.9em;
}
.booking_search_result_item .booking_search_result_title {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 10px;
}
.booking_search_result_item img.booking_featured_image {
    border: 1px solid #CCC;
    padding: 2px;
    width: 200px !important;
    float: left;
    margin: 5px 15px 5px 0px !important;
}
.booking_search_result_item .booking_search_result_info {
    font-size: 1.1em;
    font-style: italic;
    margin: 10px;
}
.booking_search_result_visitors_num,
.booking_search_result_items_num,
.booking_search_result_cost {
    font-weight: bold;
}
.booking_search_result_item label {
    font-size: 16px;
    font-weight: bold;
}
.booking_search_result_item a {
    -box-shadow: 0 0 1px #DDD;
    -webkit-box-shadow: 0 0 1px #DDD;
    -moz-box-shadow: 0 0 1px #DDD;
    background: none repeat scroll 0 0 #F5F5F5 !important;
    color: #717171 !important;
    font-family: Helvetica;
    font-size: 12px !important;
    line-height: 18px;
    font-weight: bold !important;
    text-shadow: 0 0 1px #FFF;
    float: right;
    cursor: pointer;
    padding: 2px;
    border: 1px solid #BBB;
    -border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-decoration: none;
    margin-top: 15px;
}
.booking_search_result_item a:hover {
    background: none repeat scroll 0 0 #EEE !important;
}

/* Admin bar COUNT*/
#wp-admin-bar-booking_options a span#booking-count {
    background: none repeat scroll 0 0 #EEE;
    border-radius: 10px 10px 10px 10px;
    color: #333;
    display: inline;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 5px;
    text-shadow: none;
}
#wp-admin-bar-booking_options a:hover span#booking-count {
    background: none repeat scroll 0 0 #FFF;
    color: #000;
}

/* Pop Over Styles */
.wpdevbk.popover {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  box-shadow: none;
  width: auto !important;    
  z-index: 2147483647 !important;
}
.wpdevbk.popover.top .arrow {
    border-top: 5px solid rgba(140, 140, 140, 0.8) !important;
}
.wpdevbk.popover.bottom .arrow {
    border-bottom: 5px solid rgba(140, 140, 140, 0.8) !important;
}
.wpdevbk.popover.left .arrow {
    border-left: 5px solid rgba(140, 140, 140, 0.8) !important;
}
.wpdevbk.popover.right .arrow {
    border-right: 5px solid rgba(140, 140, 140, 0.8) !important;
}
.wpdevbk .popover-inner {
    background: none repeat scroll 0 0 rgba(140, 140, 140, 0.8);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 3px;
    width: 150px;
}
.wpdevbk .popover-inner .popover-title {
    background-color: #FFF;
    border-bottom: 0px solid #EEE;
    border-radius: 3px 3px 0 0;
    line-height: 1;
    padding: 0px; /*9px 15px;*/
    font-size: 13px;
}
.wpdevbk .popover-inner .popover-content {
    background-clip: padding-box;
    background-color: #FFF;
    border-radius: 0 0 3px 3px;
    padding: 14px;
}
.wpdevbk .popover-content p,
.wpdevbk .popover-content ul,
.wpdevbk .popover-content ol {
    color: #111;
}